.cardsGamesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}


.cardContent{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.cardContent1{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 200.7px;
  border-radius: 5px;
  background-color: #2a2a2abb;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: 0.3s;
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 20% cover 30%;
  animation-fill-mode: both;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 115%;
  }
  to{
    opacity: 1;
    scale: 100%;
  }
}

.cardContent1:hover{
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.8);
  transform: scale(1.03);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.cardImage{
  height: 100%;
  object-fit: cover;
  transition: 1s;
}

.cardImage:hover {
  filter: contrast(1.2); /* Aumenta el contraste al 120% */
}

.text{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  font-size: 2vw;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: rgb(202, 202, 202);
  gap: 10px;
  margin-bottom: 15px;
}

.text h1{
  font-size: 2vw;
  gap: 5px;
}

.text p{
  font-size: 17px;
  font-weight: 400;
}

.text span{
  color: #ffe600;
}

.content h3 {
  flex-grow: 1; /* Hace que la descripción ocupe el espacio disponible */
}

.plattformButton{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  
}

.title {
  width: 100%;
  height: 25px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-size: 35px;
  font-family: 'Cairo Play', sans-serif;
  font-weight: bold;
  color: rgb(202, 202, 202);
}

.genre{
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: rgb(202, 202, 202);
}

.shortDescription{
  width: 80%;
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: rgb(202, 202, 202);
  margin-bottom: 30px;
}

.publisher{
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: rgb(202, 202, 202);
}

.developer{
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: rgb(202, 202, 202);
}

.releaseDate{
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: rgb(202, 202, 202);
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(202, 202, 202);
  width: 35px;
  font-size: 1.5rem;
  border-radius: 5px;
}

.cardBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 3px;
  color: rgb(202, 202, 202);
  background-color: #2464ad;
  width: 80px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
}

.cardBtn:hover{
  background-color: #0475f6;
}