.loginContainer{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  padding: 0;
  background-color: #2a2a2abb;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: 0.3s;
  border-radius: 5px;
}

.selectedAvatar {
  background-color: #151515bb;
  width: 30px;
  border-radius: 3px; /* Bordes redondeados (puedes ajustar esto) */
}

.gameBoyContent{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 35%;
  padding: 30px;
  filter: contrast(1.2);
}

.GameBoy{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.loginContent{
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  width: 50%;
  gap: 15px;
}

.label{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 15px;
}

.label input{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 5px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  padding: 17px;
  background-color: #19191972;
  color:  rgb(202, 202, 202);
  border: 1.8px solid #00a2ff;
  transition: 0.3s; 
}

.label input:focus {
  border: 1.8px solid #00ccff;
  outline: none;
} 

.avatarSelection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #19191972;
  border: 1.8px solid #00a2ff;
  padding: 8px;
}

.avatarSelect{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 18px;
  padding-left: 17px;
  padding-top: 5px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color:  rgb(202, 202, 202);
}

.avatarOption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(17.33% - 5px);
  text-align: center;
  padding: 5px;
}

.avatarImage {
  max-width: 30px;
}

.text{
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-size: 2vw;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: rgb(202, 202, 202);
  padding: 4px;
  margin: 10px;
}

.cardBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 3px;
  color: rgb(202, 202, 202);
  background-color: #2464ad;
  width: 100%;
  height: 40px;
  padding: 1px;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  border: none;
}

.cardBtn:hover{
  background-color: #0475f6;
}