.search{
  display: flex;
  width: 96%;
  height: 40px;
  margin-bottom: 20px;
}

.search input{
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  font-weight: bold;
  padding: 20px;
  background-color: #2a2a2abb;
  color:  rgb(202, 202, 202);
  border: solid 1px;
  border-color: #2464ad;
  transition: 0.3s; 
}

.search input:focus {
  border-color: #0475f6;
  outline: none;
} 