.loginContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 80%;
  height: auto;
  margin-top: 2rem;
  margin-top: 30px;
  padding: 0;
  background-color: #2a2a2abb;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: 0.3s;
  border-radius: 5px;
}

.gameBoyContent{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  filter: contrast(1.4);
}

.GameBoy{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.formContent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 30%;
}

.label{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 15px;
}

.label input{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 5px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  padding: 17px;
  background-color: #2a2a2abb;
  color:  rgb(202, 202, 202);
  border: 1.8px solid #00a2ff;
  transition: 0.3s; 
}

.label input:focus {
  border: 1.8px solid #00ccff;
  outline: none;
} 

.text{
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  font-size: 2vw;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: rgb(202, 202, 202);
  padding: 4px;
  width: 100%;
  margin: 10px;
}

.cardBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 3px;
  color: rgb(202, 202, 202);
  background-color: #2464ad;
  width: 100%;
  height: 40px;
  padding: 1px;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
}

.cardBtn:hover{
  background-color: #0475f6;
}