.userProfileContainer{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
  height: auto;
  font-family: 'Ubuntu', sans-serif;
  transition: 0.3s;
}

.userContent{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  padding: 0;
  background-color: #2a2a2abb;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: 0.3s;
  border-radius: 5px;
  gap: 15px;
  padding: 30px;
  color:  rgb(202, 202, 202);
}

.title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  width: 100%;
  height: 100%;
}

.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bienvenido{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  font-size: 10px;
  gap: 20px;
}

.bienvenido h2{
  font-size: 19px;
  font-weight: 800;
}

.text1{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 400;
}


.avatarImage{
  width: 18px;
  margin: 10px;
}

.info{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.field{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 8px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  background-color: #19191972;
  border-radius: 8px;
  color:  rgb(202, 202, 202);
  border-bottom: 1.8px solid #00a2ff;
  transition: 1s; 
}

.field:focus{
  border: 1.8px solid #00ccff;
  outline: none;
}

.editInput{
  width: 30%;
  height: 40px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-weight: 400;
  background: linear-gradient(to right, #10101072, transparent);
  border-radius: 8px;
  font-size: 16px;
  color:  rgb(202, 202, 202);
  border: none;
  text-align: right;
  transition: 1s;
  opacity: 1;
}

.editInput:focus {
  color: white;
  background: linear-gradient(to right, #10101072, transparent);
  opacity: 0.5;
  transition: 1s;
  outline: none;
}

.info h4{
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-weight: 400;
}

.fieldName{
  font-weight: bold;
}

.editButtonContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: row;
  gap: 30px;
}

.cardBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 3px;
  color: rgb(202, 202, 202);
  background-color: #2464ad;
  width: 18%;
  height: 40px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  gap: 5px;
  transition: 0.3s;
}

.cardBtn:hover{
  background-color: #0475f6;
}

.logoutBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 3px;
  color: rgb(202, 202, 202);
  background-color: rgb(173, 36, 36);
  width: 18%;
  height: 40px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  border: none;
  gap: 5px;
  transition: 0.3s;
}

.logoutBtn:hover{
  background-color: rgb(212, 19, 19);
}

.contentLogout{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.btnRegistro{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: row;
}

.btnRegistro h1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: auto;
  height: 100%;
  background-color: transparent;
  font-family: 'Ubuntu', sans-serif;
  border: 1.5px solid #00a2ff;
  border-radius: 3px;
  color: #00a2ff;
  font-size: 1vw;
  cursor: pointer;
  font-weight: 400;
  padding: 10px;
  transition: 0.3s;
  gap: 10px;
}

.btnRegistro h1:hover{
  color: #00ccff;
  border: 1.5px solid #00ccff;
} 

.textInfo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  font-size: 1.1vw;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;
  color: #00a2ff95;
  gap: 5px;
}

.avatarSelection {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #19191972;
  border: 1.8px solid #00a2ff;
  padding: 8px;
}

.cancelBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: auto;
  height: 30px;
  background-color: transparent;
  font-family: 'Ubuntu', sans-serif;
  border: 1.5px solid rgb(173, 36, 3);
  border-radius: 3px;
  color: rgb(173, 36, 3);
  font-size: 1vw;
  font-weight: 400;
  padding: 10px;
  transition: 0.3s;
  gap: 10px;
  cursor: pointer;
}

.cancelBtn:hover{
  color: rgb(218, 47, 4);
  border: 1.5px solid rgb(218, 47, 4);
}

.btn{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 10px;
}

.avatarSelectContent{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  width: 40%;
  height: 45px;
  font-family: 'Ubuntu', sans-serif;
  background-color: #19191972;
  color:  rgb(202, 202, 202);
  border-radius: 8px;
  border-bottom: 1.8px solid #00a2ff;
}

.avatarSelect{
  cursor: pointer;
  transition: 1s; 
}

.avatarSelect:hover {
  color: white;
}

.avatarOption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(17.33% - 5px);
  text-align: center;
  padding: 5px;
}

.avatarImage {
  width: 30px;
  cursor: pointer;
}

.selectedAvatar {
  background-color: #151515bb;
  width: 30px;
  border-radius: 3px; /* Bordes redondeados (puedes ajustar esto) */
}

.confirmBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: auto;
  height: 30px;
  background-color: transparent;
  font-family: 'Ubuntu', sans-serif;
  border: 1.5px solid rgb(36, 192, 19);
  border-radius: 3px;
  color: rgb(36, 192, 19);
  font-size: 1vw;
  font-weight: 400;
  padding: 10px;
  transition: 0.3s;
  cursor: pointer;
  gap: 10px;
}

.confirmBtn:hover{
  color: rgb(26, 255, 0);
  border: 1.5px solid rgb(26, 255, 0);
}